.title-header {
    overflow: hidden;
    height: 200px;
    width: 100%;
    /* background-image: url('parchment-paper-cropped.jpg'); */
    background-repeat: no-repeat;
  }

.title {
    overflow: hidden;
    padding-top: 75px;
    font-size: 50px;
  }

.background {
    background-color: #3a2820;
}

button::-moz-focus-inner { border: 0; }

* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    background-color: #3a2820;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  